.home {
  width: 100vw;
  height: 100vh;
  &-title {
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    &-1 {
      font-family: "Anton";
      font-size: 4rem;
      font-weight: 700;
      color: black;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    }
    &-2 {
      font-family: "Anton";
      font-size: 3rem;
      font-weight: 600;
      color: #4b89dc;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    }
    &-button {
      margin-top: 1rem;
      width: 20rem;
      height: 2.5rem;
      border-radius: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: black;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 8px;
      &-text {
        color: white;
        line-height: 5px;
        font-size: 1rem;
        span {
          margin-left: 10px;
          font-size: 0.7rem;
          color: #ececec;
        }
      }
      &-icon {
        color: white;
        height: 21px;
      }
      &:hover {
        cursor: pointer;
        width: 25rem;
        background-color: #4b89dc;
      }
      transition: 0.5s;
    }
  }
}
