.furnitures{
  display: flex;
  align-items: center;
  img{
    cursor: pointer;
  }
  &-leftbutton{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
    img{
      width: 15px;
      height: 15px;
    }
    transition: .3s;
    &:hover{
      transform: translateX(-3px);
    }
  }
  &-rightbutton{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
    img{
      width: 15px;
      height: 15px;
    }
    transition: .3s;
    &:hover{
      transform: translateX(3px);
    }
  }
}