.furniture{
  cursor: pointer;
  width: 100px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s;
  // &:hover{
  //   transform: translateY(2px);
  // }
  img{
    height: 70%;
  }
  div{
    font-size: 13px;
  }
  border-radius: 5px;
  border: 1px solid #ececec;
}