.room-header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 99;
  background-color: white;
  width: 100vw;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  &-main {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 10px;
    background-color: #4b89dc;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 8px;
    border-radius: 5px;
    padding: 20px;
    div {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      border-radius: 5px;
      &:first-child {
        // background-color: rgb(0, 255, 187);
      }
      background-color: white;
      // background-color: cornflowerblue;
    }
  }
  &-sub {
    display: flex;
    align-items: center;
    margin-right: 30px;
    &-item {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      width: 55px;
      height: 55px;
      // background-color: #ececec;
      img {
        width: 70%;
      }
      div {
        text-align: center;
        font-size: 9px;
      }
    }
  }
}
