.sidebar {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 5%;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px;
  &-item {
    margin: 2px 0;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid white;
    &.selected{
      border: 1px solid #ececec;
      background-color: white;
    }
  }
}
