.upload {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 43vw;
    height: 90vh;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
    margin-right: 3vw;
    &-photo {
      position: relative;
      input {
        display: none;
      }
      &-label {
        display: block;
        position: absolute;
        bottom: 0;
        right: -9px;
        width: 41px;
        height: 41px;
        border-radius: 100%;
        background-color: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        transition: 0.2s;
        &:active {
          transform: scale(0.9);
        }
      }
      &-preview {
        background-color: #e5e5e5;
        border-radius: 10px;
        width: 18vw;
        height: 18vw;
        margin-bottom: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      &-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &-user {
      width: 80%;
    }
    &-input {
      display: flex;
      justify-content: center;
      width: 80%;
      input {
        width: 100%;
        padding: 5px;
        height: 20px;
        margin-bottom: 20px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid #ececec;
        &:focus {
          outline: none;
          border-top: 0;
          border-left: 0;
          border-right: 0;
          border-bottom: 2px solid #b9b9b9;
        }
      }
    }
    &-latlng {
      width: 80%;
      padding: 0 5px;
      display: flex;
      input {
        width: 100%;
        padding: 5px;
        height: 20px;
        margin-bottom: 20px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid #ececec;
        &:focus {
          outline: none;
          border-top: 0;
          border-left: 0;
          border-right: 0;
          border-bottom: 2px solid #b9b9b9;
        }
      }
      &-lat {
        // width: 50%;
        margin-right: 10px;
      }
      &-lng {
        // width: 50%;
        margin-left: 10px;
      }
    }
  }
  &-map {
    margin-left: 3vw;
    width: 43vw;
    height: 90vh;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
  }
}

.searchbar {
  position: absolute;
  left: 50%;
  top: 20px;
  display: flex;
  transform: translateX(-50%);
}
.userLocation {
  position: absolute;
  top: 20px;
  right: 10%;
  z-index: 9;
  width: 28px;
  height: 28px;
  background-color: white;
  padding: 4px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
